/*
 * typography
 */

/*
 * layout
 */
header
{
	margin: 10px auto;
}

footer
{
	margin-top: 40px;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="tel"]
{
	width: 286px;
}
#register-form input[type="number"]
{
	width: 126px;
}

#register-form textarea
{
	width: 276px;
}

.iminterestedin p
{
	margin-bottom: 5px;
}

#capture
{
	margin-top: 10px;
	margin-bottom: 20px;
}


#face-canvas
{
	position: relative;
}

.face-outline
{
	border: 1px solid red;
	z-index: 3;
}

#video
{
	background: #ddd;
}

#canvas
{
	background: #ddd;
}

#snap
{
	margin: 100px auto;
}